@charset "UTF-8";

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}


/* Стилизуем контейнер */
.container {
    max-width: 1190px;
    padding: 0 15px; /* Увеличиваем боковые отступы */
    margin: 0 auto; /* Центрируем контейнер по горизонтали */
}

/* Стилизуем шапку сайта */
.header {
    padding-top: 5px; /* Увеличиваем верхний отступ шапки, чтобы логотип и меню не прилипали к экрану */
    background-color: #101010; /* Задаем задный фон */
}

/* Стилизуем внутренний контейнер шапки */
.header__inner {
    display: flex; /* Выстраиваем элементы внутри контейнера в строку */
    justify-content: space-between; /* Распределяем элементы по ширине контейнера */
    align-items: center; /* Выравниваем элементы по вертикали */
}

/* Стилизуем логотип */
.logo {
    color: white; /* Устанавливаем цвет логотипа */
}

/* Стилизуем списки меню */
.menu__list {
    display: flex; /* Отображаем элементы списка в строку */
    list-style: none; /* Убираем стандартные маркеры (чёрные точки) */
}

/* Стилизуем пункты меню */
.menu__list-item {
    margin-right: 20px; /* Добавляем отступ между пунктами меню */
}

/* Стилизуем ссылки в меню */
.menu__list-link {
    padding: 10px 20px; /* Увеличиваем вертикальный и горизонтальный отступы */
    font-size: 20px; /* Уменьшаем размер шрифта */
    color: white; /* Устанавливаем цвет ссылок */
    cursor: pointer; /* Задаём изменение вида курсора при наведении на пункты меню */
    transition: all 0.3s; /* Добавляем плавное изменение стилей при наведении */
}

/* Добавляем стилизацию ссылок в меню при наведении курсора */
.menu__list-link:hover {
    background-color: #ddd;
    color: #101010; /* Задаём изменение цвета ссылок при наведении курсора */
}

/* Стилизуем контент */
.content {
    max-width: 950px;
    padding: 15px 15px; /* Увеличиваем верхний и боковой отступы */
    margin: 0 auto; /* Центрируем контейнер по горизонтали */
}

.chat {
    width: 950px;
    max-height: 600px;
    position: fixed;
    overflow: auto;
}

.message-input {
    position:absolute;
    bottom: 75px;
}

.message > h4 {
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}
