<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %} {% endblock %}</title>
		{% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
	</head>
	<body>
		<header class="header">
			<div class="container">
				<div class="header__inner">
					<div class="logo">
						<h1>Messenger</h1>
					</div>
					<nav class="menu">
						<ul class="menu__list">
							<li class="menu__list-item">
								<a class="menu__list-link" href="/">Мои чаты</a>
							</li>
							<li class="menu__list-item">
								<a class="menu__list-link" href="/accounts/profiles">Список пользователей</a>
							</li>
							<li class="menu__list-item">
								<a class="menu__list-link" href="/accounts/my_profile">Мой профиль</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

        {% block body %} {% endblock %}

    </body>
